header.mainheader
    .container-fluid
        .mainheader-mainmenu-wrap.d-block.d-lg-flex.align-items-center.justify-content-between
            .mheader__ci
                a(href="./index.html", title=cname).d-flex.align-items-end
                    img(src=basePath+"images/logos/logo-ci-header.svg", alt=cname)   
                    span.text.text-nowrap.pb-1 專案測試
            .mheader__navbar
                .mainmenu-list-wrap
                    //- include ../components/singlemenu.pug
                    include ../components/megamenu.pug
            .btn-mainmenu-mobile.js__btn-mobile-mainmenu.d-block.d-lg-none
                span
                    span.btn-mainmenu-mobile__bar
                    span.btn-mainmenu-mobile__bar
                    span.btn-mainmenu-mobile__bar