.pageload(class=pageloader?"d-block":"d-none") 
    .pageload__content
        .pageload__svg__wrap
            svg(version='1.1', x='0px', y='0px', viewBox='0 0 80 110')
                g#pageload__svg
                    path.st0(d='M63.1,64.9c0.4-0.2,0.8-0.4,1.1-0.7c0.3-0.3,0.6-0.6,0.8-0.8c0.2-0.2,0.3-0.5,0.3-0.7c0-0.1,0-0.1,0-0.1\
                    s0,0-0.1,0c-0.2,0-0.5,0.1-0.8,0.3c-0.3,0.3-0.6,0.6-0.9,0.9c-0.3,0.3-0.6,0.7-0.8,1.1c0,0.1-0.1,0.3-0.1,0.3\
                    C62.8,65.2,63,65.1,63.1,64.9z')
                    path.st0(d='M0,0v110h80V0H0z M4.6,40c0-3.3,0.4-6.5,1.4-9.6c0.9-3,2.1-6,3.7-8.6c1.6-2.6,3.5-5.1,5.8-7.3\
                    c2.3-2.1,4.8-4,7.5-5.6c2.8-1.5,5.7-2.8,8.9-3.6C35.1,4.4,38.4,4,41.8,4c2.8,0,5.6,0.3,8.2,0.9c2.6,0.6,5,1.5,7.2,2.6\
                    c2.2,1,4.2,2.4,5.7,3.9c0.1,0.1,0.3,0.3,0.3,0.3c0.8,0.7,0.8,1.9,0.1,2.7l-6.8,6.9c-0.3,0.3-0.9,0.2-1-0.2\
                    c-0.3-0.9-0.4-1.3-1.1-2.6c-0.9-1.7-2-3.3-3.4-4.8s-3-2.6-4.8-3.5s-4.1-1.3-6.6-1.3c-3.3,0-6.2,0.6-8.7,1.8\
                    c-2.6,1.2-4.7,2.8-6.5,4.9c-1.8,2.1-3.1,4.4-4.1,7.2c-0.9,2.7-1.4,5.6-1.4,8.7c0,4.2,0.6,8.2,1.8,11.9c1,3.4,2.2,6.4,4.1,9\
                    c0.1,0.2,0.1,0.5-0.1,0.6L15,62.8c-0.2,0.2-0.5,0.2-0.7,0c-3-3-5.3-6.2-7-10.2C5.5,48.7,4.6,44.5,4.6,40z M30.2,67.9\
                    c-0.6,0.3-1.2,0.7-1.8,0.9c-0.6,0.2-1.2,0.3-1.8,0.3c-0.9,0-1.6-0.3-2.1-0.8c-0.5-0.6-0.7-1.3-0.7-2.1c0-0.6,0.1-1.2,0.3-1.9\
                    s0.5-1.2,0.9-1.8c0.4-0.6,0.9-1.1,1.4-1.6c0.6-0.5,1.1-1,1.7-1.3c0.6-0.4,1.2-0.7,1.8-0.9c0.6-0.2,1.2-0.3,1.8-0.3\
                    c0.9,0,1.6,0.3,2.1,0.9c0.5,0.6,0.7,1.3,0.7,2.1c0,0.6-0.1,1.2-0.3,1.8c-0.2,0.6-0.5,1.2-0.9,1.8c-0.3,0.6-0.8,1.1-1.4,1.6\
                    C31.3,67.1,30.7,67.5,30.2,67.9z M50.6,69c-0.6,0.3-1,0.3-1.6,0.3c-0.6,0-1.1-0.2-1.4-0.6c-0.3-0.3-0.4-0.7-0.4-1.1\
                    c0-0.5,0.1-1,0.4-1.5c0.3-0.4,0.6-0.9,0.9-1.3c0.3-0.4,0.6-0.8,0.8-1.2c0.2-0.3,0.3-0.6,0.3-0.8c0-0.1,0-0.1,0-0.1s-0.1,0-0.1,0\
                    c-0.1,0-0.3,0.1-0.6,0.3c-0.3,0.2-0.6,0.5-1,0.8c-0.3,0.3-0.8,0.8-1.1,1.2c-0.3,0.4-0.7,0.9-1,1.3c-0.3,0.5-0.6,0.9-0.9,1.3\
                    c-0.3,0.4-0.5,0.8-0.6,1L44.2,69l-2.4,0.1c-0.2,0-0.3-0.2-0.2-0.3l0.1-0.3c0.3-0.4,0.5-0.8,0.8-1.2c-0.1,0-0.1,0.1-0.1,0.1\
                    c-0.6,0.7-1.2,1.2-1.7,1.5c-0.5,0.3-1,0.5-1.6,0.5c-0.6,0-1-0.1-1.3-0.5c-0.3-0.3-0.4-0.7-0.4-1.1c0-0.5,0.1-1,0.4-1.5\
                    c0.3-0.4,0.6-0.9,0.9-1.3c0.3-0.4,0.6-0.8,0.8-1.2c0.2-0.3,0.3-0.6,0.3-0.8c0-0.1,0-0.1,0-0.1s-0.1,0-0.1,0c-0.1,0-0.3,0.1-0.6,0.3\
                    c-0.3,0.2-0.6,0.5-1,0.8c-0.3,0.3-0.8,0.8-1.1,1.2c-0.3,0.4-0.7,0.9-1,1.3c-0.3,0.5-0.6,0.9-0.9,1.3c-0.3,0.4-0.5,0.8-0.6,1\
                    L34.5,69l-2.4,0.1c-0.2,0-0.3-0.2-0.2-0.3l0.1-0.3c0.6-1,1.3-2.1,1.9-3.2c0.7-1.1,1.3-2.1,1.9-3.3l0.1-0.2l3-0.1l-0.3,0.4\
                    C39,62,39,62,39.1,62c0.5-0.3,1-0.5,1.6-0.5c0.5,0,0.9,0.2,1.2,0.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.5-0.1,1-0.4,1.5\
                    c-0.3,0.4-0.6,0.9-0.9,1.3c-0.3,0.4-0.6,0.8-0.8,1.2c-0.2,0.3-0.3,0.6-0.3,0.9c0,0.1,0,0.1,0,0.1c0.2,0.1,0.8-0.3,0.7-0.4\
                    c0.3-0.2,0.9-0.7,1.5-1.4c0.6-0.6,1-1,1.5-1.6c0.4-0.5,0.8-0.9,1-1.2l0.2-0.2l0.2,0.1c0.3-0.5,0.6-1,0.8-1.5l0.1-0.2l3-0.1\
                    l-0.3,0.4c0.1-0.1,0.1-0.1,0.2-0.1c0.5-0.3,1-0.5,1.6-0.5c0.5,0,0.9,0.2,1.2,0.5c0.3,0.3,0.4,0.7,0.4,1.1c0,0.5-0.1,1-0.4,1.5\
                    c-0.3,0.4-0.6,0.9-0.9,1.3c-0.3,0.4-0.6,0.8-0.8,1.2c-0.3,0.3-0.5,0.6-0.3,0.9c0,0.1,0.1,0.1,0.1,0.1c0.2-0.1,0.6-0.3,0.6-0.3\
                    c0.3-0.2,0.9-0.7,1.5-1.4c0.6-0.6,1-1,1.5-1.6c0.4-0.5,0.8-0.9,1-1.2l0.2-0.1L55,64c0.1,0.1,0.1,0.3,0.1,0.3l-0.1,0.1\
                    c-0.3,0.3-0.7,0.8-1.2,1.4s-1,1.1-1.5,1.7C51.6,68.2,51.1,68.7,50.6,69z M57.8,66.4c-0.2,0.3-0.3,0.5-0.5,0.8L56.1,69h-0.1\
                    c-0.8,0-1.5,0.1-2.1,0.1h-0.7l4.8-7.4c-0.4,0.2-0.8,0.3-1.2,0.5l-1.7,0.6l-1.9-0.6c0,0,3.5-1.2,4.6-1.8c0.8-0.4,2.6-1.4,3.3-1.8\
                    c0.1-0.1,0.3-0.1,0.5,0l0.7,0.5l-0.1,0.3c-0.5,0.8-1,1.5-1.5,2.4c-0.5,0.8-1,1.6-1.5,2.4C58.8,64.8,58.3,65.6,57.8,66.4z\
                    M70.4,64.5c-0.4,0.5-0.8,1-1.2,1.5c-0.5,0.5-1,1-1.6,1.6c-0.9,0.8-1.7,1.4-2.6,1.7c-0.8,0.3-1.7,0.3-2.4,0.3\
                    c-0.8,0-1.7-0.4-2.1-0.9s-0.7-1.1-0.7-1.9c0-0.7,0.1-1.3,0.6-1.9c0.3-0.6,0.8-1.1,1.4-1.6c0.6-0.5,1.2-0.9,1.9-1.2\
                    c0.7-0.3,1.3-0.5,1.9-0.5s1.1,0.1,1.5,0.3c0.4,0.3,0.6,0.7,0.6,1.2c0,0.3-0.1,0.7-0.4,1c-0.3,0.3-0.6,0.6-0.9,0.8\
                    c-0.3,0.2-0.7,0.4-1.1,0.6c-0.3,0.1-0.8,0.3-1.2,0.4c-0.4,0.1-0.8,0.2-1.1,0.3c-0.1,0-0.3,0.1-0.4,0.1c-0.1,0.1-0.2,0.1-0.2,0.3\
                    c0,0.1,0,0.1,0,0.1c0,0.4,0.1,0.8,0.3,1c0.3,0.2,0.6,0.3,1,0.3c0.5,0,1-0.1,1.5-0.4c0.6-0.3,1.2-0.7,1.7-1.2\
                    c0.4-0.4,0.9-0.9,1.3-1.4c0.4-0.5,0.8-1,1.1-1.4l0.1-0.1c0.1-0.1,0.3-0.1,0.4,0l0.8,0.6L70.4,64.5z M76.6,5.8\
                    c-30.9,35.8-55.5,58.4-68.5,68c-0.1,0.1-0.3-0.2-0.3-0.3c19-18.7,66.5-66.5,68.2-68.2c0,0,0.1-0.1,0.1,0\
                    C76.3,5.5,76.8,5.6,76.6,5.8z')
                    path.st0(d='M31.7,60.1c-0.1-0.2-0.2-0.3-0.3-0.4s-0.3-0.1-0.5-0.1c-0.3,0.1-0.8,0.1-1.1,0.3c-0.4,0.2-0.8,0.5-1.1,0.8\
                    c-0.3,0.3-0.7,0.8-1,1.2c-0.3,0.4-0.6,0.9-0.8,1.4s-0.3,1-0.5,1.5c-0.1,0.5-0.1,0.9-0.1,1.3c0,0.3,0,0.5,0.1,0.8\
                    c0,0.2,0.1,0.4,0.2,0.6c0.1,0.2,0.3,0.3,0.4,0.4c0.2,0.1,0.3,0.1,0.6,0.1c0.4,0,0.8-0.1,1.1-0.3c0.3-0.2,0.7-0.5,1-0.8\
                    c0.3-0.3,0.6-0.8,0.9-1.2c0.3-0.5,0.5-1,0.7-1.5c0.2-0.5,0.3-1,0.5-1.5c0.1-0.5,0.1-0.9,0.1-1.2c0-0.3,0-0.6-0.1-0.8\
                    C31.8,60.5,31.8,60.3,31.7,60.1z')
        .pageload__text
            span loading...
