// 全站樣式,utils樣式
html, body
    font-size: 16px
    font-size: 1rem
    line-height: 1.5em
    // font-family: $font-family-base
    overflow-x: hidden
    overflow-y: auto
    -ms-overflow-style: none
    @media (max-width: 1024px)
        font-size: 15px
    @media (max-width: 480px)
        font-size: 14px
.body
    background-color: #eee
p
    margin-bottom: 0

a
    color: $brand-base
    text-decoration: none
    &:hover, &:active, &:focus
        text-decoration: none
        color: $link-hover-color
    @media all and (min-width: 1025px)
        &:hover
            color: $link-hover-color
.pic
    img
        max-width: 100%

input, textarea, button
    &:focus
        outline: 0

.pointer
    cursor: pointer

// 編輯器
.editor__wrap
    overflow: auto
    img
        max-width: 100%

// grid 樣式
// 滿版樣式(加在外層, 如: row)
.grid-space-0
    margin-right: -15px
    margin-left: -15px
    >.col,
    >[class*="col-"]
        padding-right: 0
        padding-left: 0