// mixin定義
@mixin w_full {
    width: 100%
}
@mixin h_full {
    height: 100%
}
@mixin animation_ease {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
@mixin animate_ease_second($t, $s) {
    -webkit-transition: $t $s ease;
    -moz-transition: $t $s ease;
    -o-transition: $t $s ease;
    -ms-transition: $t $s ease;
	transition: $t $s ease;
}

@mixin scales($r) {
	-webkit-transform: scale($r);
	-moz-transform: scale($r);
	-ms-transform: scale($r);
	-o-transform: scale($r);
	transform: scale($r);
}
@mixin rotate($r) {
    -webkit-transform: rotate($r);
    -moz-transform: rotate($r);
    -ms-transform: rotate($r);
    -o-transform: rotate($r);
	transform: rotate($r);
}
@mixin moveXY($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
	transform: translate($x, $y);
}
@mixin transform_clean {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
	transform: none;
}
@mixin v_center {
    top: 50%;
    @include moveXY(0, -50%);
}
@mixin h_center {
    left: 50%;
	@include moveXY(-50%, 0);
}
@mixin all_center {
    top: 50%;
    left: 50%;
	@include moveXY(-50%, -50%);
}
