.mega-menu-wrap.mainmenu-list.main__list
	//- main-menu-nav
	ul.mega-menu-nav.d-block.d-lg-flex.align-items-center
		//- mega-menu start
		li.mainmenu-item.dropdown.mega-menu.mega-menu--wide
			a.mainmenu-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Wide
			ul.dropdown-menu
				li.container-fluid
					.row
						.col-md-12
							h4.title
								i.fa.fa-laptop.pr-2
								| Demos
							.row
								.col-lg-6
									ul
										li
											a.mainmenu__submenu__link(href='./about.html')
												i.fa.fa-home.pr-2
												| About company
										li
											a.mainmenu__submenu__link(href='index-corporate-4.html')
												i.fa.fa-suitcase.pr-2
												| Corporate 4 
												span.badge v1.2
								.col-lg-6
									ul
										li
											a.mainmenu__submenu__link(href='index-shop.html')
												i.fa.fa-shopping-basket.pr-2
												| Commerce 1
										li
											a.mainmenu__submenu__link(href='index-shop-2.html')
												i.fa.fa-shopping-basket.pr-2
												| Commerce 2
										li
											a.mainmenu__submenu__link(href='index-portfolio.html')
												i.fa.fa-briefcase.pr-2
												| Portfolio/Agency
		//- mega-menu end
		//- mega-menu start
		li.mainmenu-item.dropdown.mega-menu.mega-menu--full
			a.mainmenu-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') full
			ul.dropdown-menu
				li.container-fluid
					.row
						.col-lg-4
							ul
								li
									a.mainmenu__submenu__link(href='page-about.html')
										i.fa.fa-angle-right
										| About Us 1
								li
									a.mainmenu__submenu__link(href='page-about-2.html')
										i.fa.fa-angle-right
										| About Us 2
								li
									a.mainmenu__submenu__link(href='page-about-3.html')
										i.fa.fa-angle-right
										| About Us 3
								li
									a.mainmenu__submenu__link(href='page-about-4.html')
										i.fa.fa-angle-right
										| About Us 4
								li
									a.mainmenu__submenu__link(href='page-about-me.html')
										i.fa.fa-angle-right
										| About Me
								li
									a.mainmenu__submenu__link(href='page-team.html')
										i.fa.fa-angle-right
										| Our Team - Options 1
								li
									a.mainmenu__submenu__link(href='page-team-2.html')
										i.fa.fa-angle-right
										| Our Team - Options 2
								li
									a.mainmenu__submenu__link(href='page-team-3.html')
										i.fa.fa-angle-right
										| Our Team - Options 3
								li
									a.mainmenu__submenu__link(href='page-coming-soon.html')
										i.fa.fa-angle-right
										| Coming Soon Page
								li
									a.mainmenu__submenu__link(href='page-faq.html')
										i.fa.fa-angle-right
										| FAQ page
						.col-lg-4
							ul
								li
									a.mainmenu__submenu__link(href='page-services.html')
										i.fa.fa-angle-right
										| Services 1
								li
									a.mainmenu__submenu__link(href='page-services-2.html')
										i.fa.fa-angle-right
										| Services 2
								li
									a.mainmenu__submenu__link(href='page-services-3.html')
										i.fa.fa-angle-right
										| Services 3
								li
									a.mainmenu__submenu__link(href='page-contact.html')
										i.fa.fa-angle-right
										| Contact 1
								li
									a.mainmenu__submenu__link(href='page-contact-2.html')
										i.fa.fa-angle-right
										| Contact 2
								li
									a.mainmenu__submenu__link(href='page-contact-3.html')
										i.fa.fa-angle-right
										| Contact 3
								li
									a.mainmenu__submenu__link(href='page-login.html')
										i.fa.fa-angle-right
										| Login 1
								li
									a.mainmenu__submenu__link(href='page-login-2.html')
										i.fa.fa-angle-right
										| Login 2 - Fullsreen
								li
									a.mainmenu__submenu__link(href='page-signup.html')
										i.fa.fa-angle-right
										| Sign Up 1
								li
									a.mainmenu__submenu__link(href='page-signup-2.html')
										i.fa.fa-angle-right
										| Sign Up 2 - Fullsreen
						.col-lg-4
							ul
								li
									a.mainmenu__submenu__link(href='page-404.html')
										i.fa.fa-angle-right
										| 404 error
								li
									a.mainmenu__submenu__link(href='page-404-2.html')
										i.fa.fa-angle-right
										| 404 error - Fullscreen
								li
									a.mainmenu__submenu__link(href='page-left-sidebar.html')
										i.fa.fa-angle-right
										| Left Sidebar
								li
									a.mainmenu__submenu__link(href='page-right-sidebar.html')
										i.fa.fa-angle-right
										| Right Sidebar
								li
									a.mainmenu__submenu__link(href='page-no-sidebars.html')
										i.fa.fa-angle-right
										| No Sidebars
								li
									a.mainmenu__submenu__link(href='page-sitemap.html')
										i.fa.fa-angle-right
										| Sitemap
		//- mega-menu end
		//- dropdown-menu start
		li.mainmenu-item.dropdown
			a.mainmenu-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Pages
			ul.dropdown-menu(aria-labelledby='third-dropdown')
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Headers 
						span.badge v1.2
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-headers-default.html') Default/Semi-Transparent
						li
							a.mainmenu__submenu__link(href='features-headers-default-dark.html') Dark/Semi-Transparent
						li
							a.mainmenu__submenu__link(href='features-headers-gradient-dark.html')
								| Gradient
								| Dark 
								span.badge v1.2
						li
							a.mainmenu__submenu__link(href='features-headers-gradient-light.html')
								| Gradient
								| Light 
								span.badge v1.2
						li
							a.mainmenu__submenu__link(href='features-headers-classic.html')
								| Classic
								| Light
						li
							a.mainmenu__submenu__link(href='features-headers-classic-dark.html')
								| Classic
								| Dark
						li
							a.mainmenu__submenu__link(href='features-headers-colored.html') Colored/Light
						li
							a.mainmenu__submenu__link(href='features-headers-colored-dark.html') Colored/Dark
						li
							a.mainmenu__submenu__link(href='features-headers-full-width.html')
								| Full
								| Width
						li
							a.mainmenu__submenu__link(href='features-headers-offcanvas-left.html')
								| Offcanvas
								| Left Side
						li
							a.mainmenu__submenu__link(href='features-headers-offcanvas-right.html')
								| Offcanvas
								| Right Side
						li
							a.mainmenu__submenu__link(href='features-headers-logo-centered.html')
								| Logo
								| Centered
						li
							a.mainmenu__submenu__link(href='features-headers-slider-top.html')
								| Slider
								| Top
						li
							a.mainmenu__submenu__link(href='features-headers-simple.html')
								| Simple
								| Static
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Menus 
						span.badge v2.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-headers-default.html')
								| Default/On
								| Hover Menu
						li
							a.mainmenu__submenu__link(href='features-menus-onhover-no-animations.html')
								| On
								| Hover Menu - No Animations
						li
							a.mainmenu__submenu__link(href='features-menus-onclick.html')
								| On Click Menu
								| - With Animations
						li
							a.mainmenu__submenu__link(href='features-menus-onclick-no-animations.html')
								| On
								| Click Menu - No Animations
						li
							a.mainmenu__submenu__link(href='features-menus-style-2.html')
								| Menu Style 2
								span.badge v2.1
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Footers 
						span.badge v2.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-footers-default.html#footer') Default
						li
							a.mainmenu__submenu__link(href='features-footers-contact-form.html#footer')
								| Contact
								| Form
						li
							a.mainmenu__submenu__link(href='features-footers-contact-form-2.html#footer')
								| Contact
								| Form 2 
								span.badge v1.2
						li
							a.mainmenu__submenu__link(href='features-footers-contact-form-3.html#footer')
								| Contact
								| Form 3 
								span.badge v2.1
						li
							a.mainmenu__submenu__link(href='features-footers-google-maps.html#footer')
								| Google
								| Maps
						li
							a.mainmenu__submenu__link(href='features-footers-subscribe.html#footer')
								| Subscribe
								| Form
						li
							a.mainmenu__submenu__link(href='features-footers-minimal.html#footer') Minimal
						li
							a.mainmenu__submenu__link(href='features-footers-links.html#footer')
								| Links
								span.badge v1.1
						li
							a.mainmenu__submenu__link(href='features-footers-full-width.html#footer')
								| Full
								| Width 
								span.badge v1.2
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Main Sliders 
						span.badge v2.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-sliders-fullscreen.html')
								| Full
								| Screen
						li
							a.mainmenu__submenu__link(href='features-sliders-fullscreen-2.html')
								| Full
								| Screen 2 
								span.badge v2.1
						li
							a.mainmenu__submenu__link(href='features-sliders-fullwidth.html')
								| Full
								| Width
						li
							a.mainmenu__submenu__link(href='features-sliders-fullwidth-big-height.html')
								| Full
								| Width - Big Height
						li
							a.mainmenu__submenu__link(href='features-sliders-boxedwidth-light.html')
								| Boxed
								| Width - Light Bg
						li
							a.mainmenu__submenu__link(href='features-sliders-boxedwidth-dark.html')
								| Boxed
								| Width - Dark Bg
						li
							a.mainmenu__submenu__link(href='features-sliders-text-rotator.html')
								| Text
								| Rotator
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Email Templates 
						span.badge v1.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(target='_blank', href='email_templates/email_template_blue.html') Blue
						li
							a.mainmenu__submenu__link(target='_blank', href='email_templates/email_template_brown.html') Brown
						li
							a.mainmenu__submenu__link(target='_blank', href='email_templates/email_template_cool_green.html')
								| Cool
								| Green
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#') Pricing Tables
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-pricing-tables-1.html')
								| Pricing
								| Tables 1
						li
							a.mainmenu__submenu__link(href='features-pricing-tables-2.html')
								| Pricing
								| Tables 2
						li
							a.mainmenu__submenu__link(href='features-pricing-tables-3.html')
								| Pricing
								| Tables 3
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#') Icons
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-icons-fontawesome.html')
								| Font
								| Awesome
				li
					a.mainmenu__submenu__link(href='features-dark-page.html') Dark Page
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Typography 
						span.badge v2.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-typography.html') Font Scheme 1
						li
							a.mainmenu__submenu__link(href='features-typography-2.html')
								| Font Scheme
								| 2
						li
							a.mainmenu__submenu__link(href='features-typography-3.html')
								| Font Scheme 3
								span.badge v2.1
						li
							a.mainmenu__submenu__link(href='features-typography-0.html')
								| Font Scheme -
								| OS Default
				li
					a.mainmenu__submenu__link(href='features-backgrounds.html') Backgrounds
				li
					a.mainmenu__submenu__link(href='features-grid.html') Grid
		//- dropdown-menu end
		//- mega-menu start
		li.mainmenu-item.dropdown.mega-menu.mega-menu--wide
			a.mainmenu-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Wide
			ul.dropdown-menu
				li.container-fluid
					.row
						.col-lg-6
							ul
								li
									a.mainmenu__submenu__link(href='index.html')
										i.fa.fa-home.pr-2
										| Home Default
								li
									a.mainmenu__submenu__link(href='index-corporate-1.html')
										i.fa.fa-suitcase.pr-2
										| Corporate 1
						.col-lg-6
							ul
								li
									a.mainmenu__submenu__link(href='index-shop.html')
										i.fa.fa-shopping-basket.pr-2
										| Commerce 1
								li
									a.mainmenu__submenu__link(href='index-shop-2.html')
										i.fa.fa-shopping-basket.pr-2
										| Commerce 2
								li
									a.mainmenu__submenu__link(href='index-portfolio.html')
										i.fa.fa-briefcase.pr-2
										| Portfolio/Agency
		//- mega-menu end
		//- dropdown-menu start
		li.mainmenu-item.dropdown
			a.mainmenu-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Pages
			ul.dropdown-menu.right(aria-labelledby='third-dropdown')
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Headers 
						span.badge v1.2
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-headers-default.html') Default/Semi-Transparent
						li
							a.mainmenu__submenu__link(href='features-headers-default-dark.html') Dark/Semi-Transparent
						li
							a.mainmenu__submenu__link(href='features-headers-gradient-dark.html')
								| Gradient
								| Dark 
								span.badge v1.2
						li
							a.mainmenu__submenu__link(href='features-headers-gradient-light.html')
								| Gradient
								| Light 
								span.badge v1.2
						li
							a.mainmenu__submenu__link(href='features-headers-classic.html')
								| Classic
								| Light
						li
							a.mainmenu__submenu__link(href='features-headers-classic-dark.html')
								| Classic
								| Dark
						li
							a.mainmenu__submenu__link(href='features-headers-colored.html') Colored/Light
						li
							a.mainmenu__submenu__link(href='features-headers-colored-dark.html') Colored/Dark
						li
							a.mainmenu__submenu__link(href='features-headers-full-width.html')
								| Full
								| Width
						li
							a.mainmenu__submenu__link(href='features-headers-offcanvas-left.html')
								| Offcanvas
								| Left Side
						li
							a.mainmenu__submenu__link(href='features-headers-offcanvas-right.html')
								| Offcanvas
								| Right Side
						li
							a.mainmenu__submenu__link(href='features-headers-logo-centered.html')
								| Logo
								| Centered
						li
							a.mainmenu__submenu__link(href='features-headers-slider-top.html')
								| Slider
								| Top
						li
							a.mainmenu__submenu__link(href='features-headers-simple.html')
								| Simple
								| Static
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Menus 
						span.badge v2.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-headers-default.html')
								| Default/On
								| Hover Menu
						li
							a.mainmenu__submenu__link(href='features-menus-onhover-no-animations.html')
								| On
								| Hover Menu - No Animations
						li
							a.mainmenu__submenu__link(href='features-menus-onclick.html')
								| On Click Menu
								| - With Animations
						li
							a.mainmenu__submenu__link(href='features-menus-onclick-no-animations.html')
								| On
								| Click Menu - No Animations
						li
							a.mainmenu__submenu__link(href='features-menus-style-2.html')
								| Menu Style 2
								span.badge v2.1
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Footers 
						span.badge v2.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-footers-default.html#footer') Default
						li
							a.mainmenu__submenu__link(href='features-footers-contact-form.html#footer')
								| Contact
								| Form
						li
							a.mainmenu__submenu__link(href='features-footers-contact-form-2.html#footer')
								| Contact
								| Form 2 
								span.badge v1.2
						li
							a.mainmenu__submenu__link(href='features-footers-contact-form-3.html#footer')
								| Contact
								| Form 3 
								span.badge v2.1
						li
							a.mainmenu__submenu__link(href='features-footers-google-maps.html#footer')
								| Google
								| Maps
						li
							a.mainmenu__submenu__link(href='features-footers-subscribe.html#footer')
								| Subscribe
								| Form
						li
							a.mainmenu__submenu__link(href='features-footers-minimal.html#footer') Minimal
						li
							a.mainmenu__submenu__link(href='features-footers-links.html#footer')
								| Links
								span.badge v1.1
						li
							a.mainmenu__submenu__link(href='features-footers-full-width.html#footer')
								| Full
								| Width 
								span.badge v1.2
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Main Sliders 
						span.badge v2.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-sliders-fullscreen.html')
								| Full
								| Screen
						li
							a.mainmenu__submenu__link(href='features-sliders-fullscreen-2.html')
								| Full
								| Screen 2 
								span.badge v2.1
						li
							a.mainmenu__submenu__link(href='features-sliders-fullwidth.html')
								| Full
								| Width
						li
							a.mainmenu__submenu__link(href='features-sliders-fullwidth-big-height.html')
								| Full
								| Width - Big Height
						li
							a.mainmenu__submenu__link(href='features-sliders-boxedwidth-light.html')
								| Boxed
								| Width - Light Bg
						li
							a.mainmenu__submenu__link(href='features-sliders-boxedwidth-dark.html')
								| Boxed
								| Width - Dark Bg
						li
							a.mainmenu__submenu__link(href='features-sliders-boxedwidth-default.html')
								| Boxed
								| Width - Default Bg
						li
							a.mainmenu__submenu__link(href='features-sliders-video-background.html')
								| Video
								| Background
						li
							a.mainmenu__submenu__link(href='features-sliders-text-rotator.html')
								| Text
								| Rotator
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Email Templates 
						span.badge v1.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(target='_blank', href='email_templates/email_template_blue.html') Blue
						li
							a.mainmenu__submenu__link(target='_blank', href='email_templates/email_template_brown.html') Brown
						li
							a.mainmenu__submenu__link(target='_blank', href='email_templates/email_template_cool_green.html')
								| Cool
								| Green
						li
							a.mainmenu__submenu__link(target='_blank', href='email_templates/email_template_dark_cyan.html')
								| Dark
								| Cyan
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#') Pricing Tables
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-pricing-tables-1.html')
								| Pricing
								| Tables 1
						li
							a.mainmenu__submenu__link(href='features-pricing-tables-2.html')
								| Pricing
								| Tables 2
						li
							a.mainmenu__submenu__link(href='features-pricing-tables-3.html')
								| Pricing
								| Tables 3
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#') Icons
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-icons-fontawesome.html')
								| Font
								| Awesome
				li
					a.mainmenu__submenu__link(href='features-dark-page.html') Dark Page
				li.dropdown
					a.mainmenu__submenu__link.dropdown-toggle(data-toggle='dropdown', href='#')
						| Typography 
						span.badge v2.1
					ul.dropdown-menu.right
						li
							a.mainmenu__submenu__link(href='features-typography.html') Font Scheme 1
						li
							a.mainmenu__submenu__link(href='features-typography-2.html')
								| Font Scheme
								| 2
						li
							a.mainmenu__submenu__link(href='features-typography-3.html')
								| Font Scheme 3
								span.badge v2.1
						li
							a.mainmenu__submenu__link(href='features-typography-0.html')
								| Font Scheme -
								| OS Default
				li
					a.mainmenu__submenu__link(href='features-backgrounds.html') Backgrounds
				li
					a.mainmenu__submenu__link(href='features-grid.html') Grid
		//- dropdown-menu end
