.mainmenu-list.main__list
    //- main-menu-nav
    ul.d-block.d-lg-flex.align-items-center
        li.mainmenu-item
            a.mainmenu-link(href='./about.html') About
        li.mainmenu-item
            a.mainmenu-link(href='./product.html') Product