-var cname="四點梨子 | 品牌整合行銷公司"
-var uploadPath="/dist/upload_files/"
-var basePath="/dist/" 
-var locale="zh-Hant" 

//- seo 預設字
-var seoText = "四點梨子 | 是一家品牌整合行銷公司，提供服務含品牌設計、網站設計、平面設計、行銷企劃、影像傳達與精緻印刷"
-var imgAlt = "Oooops... 圖暫時讀不到, 請看文字吧 ˃ʍ˂ by四點梨子"