extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css")
    link(rel="stylesheet", type="text/css", href=basePath+"css/index.css")
block scripts
    script(src=basePath+"js/vendor.js")
    script(src=basePath+"js/index.js")
block blocks
    include ../partials/pageload.pug
block view
    //- imgslider: for slider
    .banner__wrap.imgslider__wrap.swiper-container
        .banner.imgslider.js__bnslider.swiper-wrapper
            -var slideItems = [{"imgurl":"/dist/upload_files/home/homebanner01.jpg"},{"imgurl":"/dist/upload_files/home/homebanner02.jpg"}]
            each item in slideItems
                .swiper-slide.pic
                    img(src=item.imgurl, alt="")
               
    .container
        p test