extends ../layout/default_blank.pug

block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css")
    link(rel="stylesheet", type="text/css", href=basePath+"css/page404.css")

block scripts
    script(src=basePath+"js/page404.js")

block view
    .fullpage__wrap.page404.d-flex.justify-content-center.w_full.align-items-center
        .page404__content.text-center
            .heading.text-uppercase.text-base.d-block.d-lg-flex.align-items-center.align-items-lg-start
                span sorry!
                span page not found
            .context.mb-3
                p.text-center.pic.mb-3
                    //- img(src=imageFolder+"logos/logo.png", alt="")
                p The page you are looking for might have been removed
                p had its name changes or is temporarily unavailable
            a(href="index.html").btn--back
                span.align-middle.text-uppercase back to home
