// 專案視覺規畫
@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&subset=chinese-traditional')

//== ColorsGray and brand colors for use across Bootstrap.
$gray-base:              #646464
$gray-darker:            #1e1e1e
$gray-dark:              #323232
$gray:                   #505050
$gray-light:             #969696
$gray-lighter:           #c8c8c8

// brand
$brand-base: #b31417 
$brand-second: #8d785a 
$brand-third: #8d785a 
$brand-cta: #b31417
$brand-link: #6f0d0f

// link hover
$link-hover-color:      $brand-link
$link-hover-decoration: underline !default

$border-radius-base: 1px 

//== Typography
//## Font, line-height, and color for body text, headings, and more.
$font-family-custom: Helvetica, Arial, Noto Sans TC, 'Noto Sans TC', 微軟正黑體, '微軟正黑體', Microsoft JhengHei, 'Microsoft JhengHei', sans-serif !default
$font-family-heading-custom:    inherit !default

$font-size-base:          16px !default
$font-size-large:         18px
$font-size-small:         14px
$font-size-xs:            12px // extra small

// text color
.text-base
	color: $brand-base
.text-second
	color: $brand-second
.text-white
	color: white

// background color
.bg-white
	background-color: #fff