.dropdown
    position: relative
.dropdown-menu
    width: 240px
    position: absolute
    top: 100%
    display: none
    background-color: white
    +media-breakpoint-down(md)
        background-color: rgba(white, .75)
    &.show
        display: block
        z-index: 2
    &:not(.right)
        left: 0
    &.right
        right: 0
// mheader
.mheader__navbar
    .dropdown-menu
        .dropdown-menu:not(.right)
            top: 0
            left: 100% !important
            right: auto
        .dropdown-menu.right
            top: 0
            right: 100% !important
            left: auto