//
// megamenu
// must include "dropdown" before
//
.mega-menu-wrap
    position: relative
    width: 100%
    ul
        list-style: none
        padding-left: 0
        margin-bottom: 0
.mega-menu
    &.dropdown
        position: static
    .dropdown-menu
        background-color: white
        
.mega-menu--wide, .mega-menu--full
    .dropdown-menu
        width: 100%
