include ../variables.pug
-var pageloader = false
block page_variables
doctype html
html(lang=locale)
	head
		include ../partials/head.pug
		block meta
		block styles
	body.body(class=pageloader?'body__with__pageloader':'') 
		include ../partials/header.pug
		main(class='main')
			block view  
		//- end of main
		include ../partials/footer.pug
		block blocks
		block scripts