//
// 全站樣式,utils樣式
//
html, body
    font-size: 16px
    font-size: 1rem
    line-height: 1.5em
    // font-family: $font-family-base
    overflow-x: hidden
    overflow-y: auto
    -ms-overflow-style: none
    @media (max-width: 1024px)
        font-size: 15px
    @media (max-width: 480px)
        font-size: 14px
p
    margin-bottom: 0

a
    color: $link-color
    text-decoration: none
    &:hover, &:active, &:focus
        text-decoration: none
    @media all and (min-width: 1025px)
        &:hover
            color: $link-hover-color
.pic
    img
        max-width: 100%

input, textarea, button
    &:focus
        outline: 0
