$headerheight-lg: 88px
$headerheight-md: 78px
$headerheight-sm: 62.7px
$headerheight-xs: 59.41px
//
// header
// ------------------
.mheader__ci
    padding: .5rem 2rem .5rem 0
    .text
        font-size: 1.5rem
        letter-spacing: 2px
        color: $gray-dark
    img
        display: block
        width: 90px
        padding: 0 .5rem
        +media-breakpoint-down(xs)
            width: 48px
            padding: 0

//
// mainheader-mainmenu-wrap
// ------------------
.mainheader-mainmenu-wrap
    position: relative
    ul
        list-style: none
        padding-left: 0
        margin-bottom: 0
//
// .btn-mainmenu-mobile
// ------------------
.btn-mainmenu-mobile
    +size(32px, 29px)
    position: absolute
    cursor: pointer
    top: 20px
    right: 20px
    +media-breakpoint-down(xs)
        top: 1rem
        right: 0
    > span
        display: block
    &__bar
        display: block
        +size(39px, 3px)
        background-color: black
        margin-bottom: 13px
        transition: all .15s ease
        +media-breakpoint-down(xs)
            +size(32px, 3px)
            margin-bottom: 10px
        &:last-child
            margin-bottom: 0
    &__cross
        margin-bottom: 4px
        display: block
        +size(38px, 38px)
        position: relative
        opacity: 0
        +media-breakpoint-down(xs)
            +size(32px, 32px)
        span
            display: block
            +size(39px, 3px)
            background-color: white
            transform: rotate(45deg)
            transform-origin: center center
            position: absolute
            bottom: calc(50% - 1px)
            right: 0
            &:last-child
                transform: rotate(-45deg)
            +media-breakpoint-down(xs)
                +size(32px, 3px)
    
//
// mainmenu
// ------------------
.mheader__navbar
    // width: calc(100% - 300px)
    +media-breakpoint-down(md)
        width: 100%
        overflow: hidden
        max-height: 0
        .mainmenu--opened &
            max-height: calc(100vh - #{$headerheight-md})
            overflow: auto
    +media-breakpoint-down(sm)
        .mainmenu--opened &
            max-height: calc(100vh - #{$headerheight-sm})
    +media-breakpoint-down(xs)
        .mainmenu--opened &
            max-height: calc(100vh - #{$headerheight-xs})
.mainmenu
    &__submenu__link
        display: block
        padding: .35rem .5rem
.mainmenu-link
    display: block
    padding: 2rem
    .mainmenu-item:hover &, .mainmenu-item:focus &
        color: white
        background-color: $brand-base
// mainmenu mobile
.mainmenu-list-wrap
    a:not([href]):not([tabindex]):hover,
    a:not([href]):not([tabindex]):focus
        color: white
    +media-breakpoint-down(md)
        .dropdown-menu
            width: 100%
            display: block
            position: static
            max-height: 0
            overflow: hidden
        .dropdown-toggle
            &.show + .dropdown-menu
                max-height: 999vh
                overflow: auto

            